{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FurEverHome</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src="{% static 'FUREverHome.png' %}" alt="Logo" width="150" height="80" class="d-inline-block align-text-top">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#sobre-nosotros">Nosotros</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Soy Rescatista
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="daradopcionform.html">Publicar un rescatado</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Soy Adoptante
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="solicitudform.html">Solicitud de adopción</a></li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>


        <div class="content-div">
            <div class="row">
                <div class="col-12 content-section">
                    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                              <a> 
                                <img src="{% static 'carrousel1.png' %}" class="d-block w-100" alt="Noticias UCI"  height="720px">
                              </a>
                            </div>
                            <div class="carousel-item">
                              <a href="cat.html"> 
                                <img src="images/carrousel2.png" class="d-block w-100" alt="Noticias Ruedas" height="720px">
                              </a>
                            </div>
                            <div class="carousel-item">
                              <a href="cat.html"> 
                                <img src="images/carrousel3.png" class="d-block w-100" alt="Noticias Ruedas" height="720px">
                              </a>
                            </div>
                            <div class="carousel-item">
                              <a href="cat.html"> 
                                <img src="images/carrousel4.png" class="d-block w-100" alt="Noticias Ruedas" height="720px">
                              </a>
                            </div>
                            <div class="carousel-item">
                              <a href="cat.html"> 
                                <img src="images/carrousel5.png" class="d-block w-100" alt="Noticias Ruedas" height="720px">
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <div class="col-12 content-section cards-container">
          <div class="container text-center">
              <div class="row">
                  <h2>¿Qué quieres adoptar?</h2>
                  <div class="col"> 
                    <a href="cat.html">
                      <div class="card">
                          <img src="images/cats.webp" alt="Imagen de la Carta 1" class="card-img">
                          <div class="card-body">
                              <h5 class="card-title">Gatos</h5>
                          </div>
                      </div>
                    </a>
                  </div>
                  <div class="col"> 
                    <a href="dog.html">
                      <div class="card">
                          <img src="images/dogs.jpg" alt="Imagen de la Carta 1" class="card-img">
                          <div class="card-body">
                              <h5 class="card-title">Perros</h5>
                          </div>
                      </div>
                    </a>
                  </div>
              </div>              
          </div>
      </div>
    



      <section id="sobre-nosotros">
        <div class="about-us-container py-5">
          <div class="container-about-us d-flex flex-column align-items-center">
            <div class="about-us-grid">
              <div class="about-us-content">
                <h2 class="about-us">Sobre Nosotros</h2>
                <p>
                  En FureverHome, creemos que cada animal merece un hogar lleno de amor y cuidado. Somos una plataforma dedicada a conectar a animales rescatados con personas dispuestas a ofrecerles una segunda oportunidad en la vida. Ya sea que estés buscando adoptar un perro o un gato, o que desees ayudar a un animal a encontrar su hogar ideal, estamos aquí para hacer esa conexión posible.
                </p>
                <p>
                  Nuestro objetivo es brindar un espacio seguro y confiable tanto para los adoptantes como para aquellos que desean ofrecer animales en adopción, facilitando el proceso y asegurándonos de que cada mascota reciba el cariño y la atención que necesita.

                </p>
                <p>
                  A través de FureverHome, te ofrecemos una experiencia sencilla y directa para que puedas adoptar o dar en adopción animales, asegurando que encuentres el compañero perfecto o el hogar ideal para tu mascota.

                </p>
              </div>
              <div class="about-us-image text-center">
                <img id="about-us-img" src="images/Refugio.jpg" alt="Refugio" class="img-fluid rounded about-us-img">
              </div>
            </div>
          </div>
        </div>
      </section>

        <!-- Footer -->
    <footer class="footer">
      <div class="container">
          <p>&copy; 2024 FurEverHome. Todos los derechos reservados.</p>
      </div>
      <!--politicas de privacidad-->
  
      <!-- Botón para abrir el modal -->
      <button id="openModalBtn">Políticas de privacidad</button>

      <!-- Modal -->
      <div id="modal" class="modal">
          <div class="modal-content">
          <span id="closeModalBtn" class="close">&times;</span>
          <h2>Políticas de privacidad</h2>
          <p>En FurEverHome, respetamos su privacidad. A continuación, le explicamos brevemente cómo manejamos su información:
              <ul>
                  <li><strong>Información Recopilada:</strong> Recopilamos datos como su nombre, correo electrónico y datos de uso del dispositivo para mejorar nuestra plataforma.</li>
                  <li><strong>Uso de la Información:</strong> Utilizamos sus datos para ofrecer y optimizar nuestros servicios y comunicarnos con usted.</li>
                  <li><strong>Compartición de Datos:</strong> No compartimos su información personal con terceros, salvo cuando es necesario para el servicio o por obligación legal.</li>
                  <li> <p>Para más información consulte el siguiente enlace:p</p> <a
                      href="https://www.one.gob.do/media/u5ohmfyp/ley-172-13.pdf"
                      class="alert-link">https://www.one.gob.do</a>. <!-- Alerta -->
                  </li>
              </ul>
              </p>
          </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="JS/script.js"></script>
    
</body>
</html>