#carouselExampleSlidesOnly {
    height: 700px; /* Ajusta la altura que desees para el carrusel */
}

.carousel-item {
    height: 100%;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin distorsionarse */
}

.content-section.cards-container {
    margin-top: 80px; /* Ajusta la cantidad de margen que prefieras */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}
.row h2{
    margin-bottom: 30px;
}

.card {
    position: relative;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 500px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen llene todo el contenedor sin distorsionarse */
    transition: transform 0.3s ease-in-out;
}

.card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.253); /* Fondo semi-transparente */
    color: #fff; /* Texto en color blanco para mejor visibilidad */
    text-align: center;
}

.card-title {
    margin: 0;
    font-size: 1.2em;
}

/* Efecto hover para la carta */
.card:hover {
    transform: translateY(-5px); /* Eleva la carta hacia arriba */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Añade sombra más fuerte */
}


.about-us-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #ffeca7;
  }
  
  .about-us-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    align-items: center;
    max-width: 1200px;
    width: 100%;
  }
  
  .about-us{
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
  }
  .about-us-content p{
    font-family: "Rubik", sans-serif;
    color: #000000;
    text-align: justify;
  
  }
  
  .about-us-content {
    padding: 1rem;
  }
  
  .about-us-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-us-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  /* Estilos para el fondo del modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  justify-content: center;
  align-items: center;
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botón de cerrar */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.footer {
  background-color:#fff ;
  color: #2D2424;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 450px;
  perspective: 1000px;
  margin: 0;
  padding: 0;
  
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 64px;
  margin: 0;
  padding: 0;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 0px;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 64px;
  padding: 0px;
}
.flip-card-back {
  background-color: #f3b239;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 64px;    
  padding: 0px;
}

h1 {
  text-align: center;
  padding: 20px;
}

